doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='#{basePath}/stylesheets/style.css')
    link(rel='stylesheet', href='#{basePath}/stylesheets/idea.css')
    script(src='#{basePath}/javascripts/highlight.js')
    script(src='#{basePath}/javascripts/gherkin_en.js')
    script.
      hljs.initHighlightingOnLoad()

  body
    a(href="https://github.com/andreasekstrom/cucumber-viewer")
      img(class="github-ribbon", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")
    p Products
    ul
      - each product in all
        li
          a(href='#{basePath}/#{product.id}/features') #{product.name}
    block content
